<!DOCTYPE>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>角色列表</title>

        <link href="{$smarty.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <style>
            .tr_color{ background-color: #9F88FF }
        </style>
        <div class="div_head">
            <span>
                <span style="float: left;">当前位置是：角色管理-》角色列表</span>
                <span style="float: right; margin-right: 8px; font-weight: bold;">
                    <a style="text-decoration: none;" href="{$smarty.const.__CONTROLLER__}/tianjia">【添加角色】</a>
                </span>
            </span>
        </div>
        <div></div>
        <div style="font-size: 13px; margin: 10px 5px;">
            <table class="table_a" border="1" width="100%">
                <tbody><tr style="font-weight: bold;">
                        <td>序号</td>
                        <td>权限名称</td>
                        <td>权限ids</td>
                        <td>权限控制器/操作方法</td>
                        <td style='text-align:center' colspan='3'>操作</td>
                    </tr>
                    {foreach $info as $k=>$v}
                    <tr id="product1">
                        <td>{$v.role_id}</td>
                        <td>{$v.role_name}</td>
                        <td>{$v.role_auth_ids}</td>
                        <td>{$v.role_auth_ac}</td>
                        <td><a href="{$smarty.const.__CONTROLLER__}/distribute/role_id/{$v.role_id}">分配权限</a></td>
                        <td><a href="">修改</a></td>
                        <td><a href="">删除</a></td>
                    </tr>
                    {/foreach}
                    
                    <tr>
                        <td colspan="20" style="text-align: center;">
                            {$pagelist}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>