<!DOCTYPE>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>权限列表</title>

        <link href="{$smarty.const.ADMIN_CSS_URL}mine.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <style>
            .tr_color{ background-color: #9F88FF }
        </style>
        <div class="div_head">
            <span>
                <span style="float: left;">当前位置是：权限管理-》权限列表</span>
                <span style="float: right; margin-right: 8px; font-weight: bold;">
                    <a style="text-decoration: none;" href="{$smarty.const.__CONTROLLER__}/tianjia">【添加权限】</a>
                </span>
            </span>
        </div>
        <div></div>
        <div style="font-size: 13px; margin: 10px 5px;">
            <table class="table_a" border="1" width="100%">
                <tbody><tr style="font-weight: bold;">
                        <td>序号 id</td>
                        <td>权限名称 name</td>
                        <td>父权限 pid</td>
                        <td>控制器 c</td>
                        <td>操作方法 a</td>
                        <td>全路径 path</td>
                        <td>等级 level</td>
                        <td style='text-align:center' colspan='2'>操作</td>
                    </tr>
                    {foreach $info as $k=>$v}
                    <tr id="product1">
                        <td>{$v.auth_id}</td>
                        <td>{$v.auth_name|indent:$v.auth_level:'--/'}</td>
                        <td>{$v.auth_pid}</td>
                        <td>{$v.auth_c}</td>
                        <td>{$v.auth_a}</td>
                        <td>{$v.auth_path}</td>
                        <td>{$v.auth_level}</td>
                        <td><a href="">修改</a></td>
                        <td><a href="">删除</a></td>
                    </tr>
                    {/foreach}
                    
                    <tr>
                        <td colspan="20" style="text-align: center;">
                            [1]
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>